/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 0 0 0 0;   
   
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-background-color: #ffb100;
    -fx-font-family: "Buttons and Switches JL";
    -fx-font-size: 30pt;
    -fx-text-fill: #ffffff;
    
}



