




.label {
    -fx-font-size: 30pt;
    -fx-font-family: "Rounds Black";
    -fx-text-fill: white;
   
}




/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 0 0 0 0;   
    -fx-border-color: #ffb100;
    -fx-border-width: 0;
    -fx-background-radius: 20;
    -fx-background-color: #ffb100;
    -fx-font-family: "Rounds Black", Helvetica, Arial, sans-serif;
    -fx-font-size: 15pt;
    -fx-text-fill: #ffffff;
    
}



.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #ffb100;
  -fx-border-color: #ffb100;
 
}



